.DS_Store
node_modules/
npm-debug.log
npm-debug.log.*
selenium-debug.log
test/unit/coverage
test/e2e/reports
dist
Ticket
Device
package-lock.json
Login.vue
docker-image
cordova/hooks
cordova/www
cordova/platforms
cordova/plugins
thumbs.db
!.gitkeep
*.http
