.DS_Store
node_modules/
npm-debug.log
npm-debug.log.*
selenium-debug.log
test/unit/coverage
test/e2e/reports
dist
package-lock.json
docker-image
cordova/
template/
cordova/hooks
cordova/www
cordova/platforms
cordova/plugins
thumbs.db
!.gitkeep
*.http
src/components/Login.vue
